/************************************************************************************************************
************************************ Font Family Links ******************************************************
************************************************************************************************************/

@font-face {
    font-family: Blackish;
    src: url(../fonts/Montserrat-Black.woff);
}

@font-face {
    font-family: BlackItalic;
    src: url(../fonts/Montserrat-BlackItalic.woff);
}

@font-face {
    font-family: Boldish;
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family: BoldItalic;
    src: url(../fonts/Montserrat-BoldItalic.woff);
}

@font-face {
    font-family: ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.woff);
}

@font-face {
    font-family: ExtraBoldItalic;
    src: url(../fonts/Montserrat-ExtraBoldItalic.woff);
}

@font-face {
    font-family: MontMedium;
    src: url(../fonts/Montserrat-Medium.woff);
}

@font-face {
    font-family: MontMediumItalic;
    src: url(../fonts/Montserrat-MediumItalic.woff);
}

@font-face {
    font-family: MontRegular;
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: MontSemiBold;
    src: url(../fonts/Montserrat-SemiBold.woff);
}

@font-face {
    font-family: MontSemiBoldItalic;
    src: url(/Asset/Admin/fonts/Montserrat-SemiBoldItalic.woff);
}

@font-face {
    font-family: MontThin;
    src: url(../fonts/Montserrat-Thin.woff);
}

@font-face {
    font-family: MontThinItalic;
    src: url(../fonts/Montserrat-ThinItalic.woff);
}

/************************************************************************************************************
************************************ Font Family Links ******************************************************
************************************************************************************************************/

:root {
    --main: #f8f8fa;
    --sub: #546dfe;
    --icon: #a3b1fe;
    --text: #1a2638;
    --purple-sub: #d67cf75d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main {
    position: relative;
}



.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000077;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: none;
}

/************************************************************************************************************
************************************ Side Bar CSS ***********************************************************
************************************************************************************************************/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 21vw;
    height: 100vh;
    z-index: 2;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s ease;
}

.sidebar.active {
    left: -21vw;
}

.sidebar:hover {
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}

.logo-container {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border-bottom: 1px solid #f5f2f2cc;
    cursor: pointer;
}

.logo-container img {
    width: 26px;
}

.logo-container h2 {
    font-family: MontSemiBold;
    font-size: 23px;
    text-align: center;
    margin: 0;
    font-weight: 500;
    color: #1a2638;
}

.link-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 20px;
}

.link-title {
    font-family: MontRegular;
    color: var(--text);
    font-size: 12px;
    text-transform: uppercase;
}

.link-contain {
    width: 100%;

    list-style: none;
}

.link-contain a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    font-family: MontRegular;
}

.link-contain a .link-icon {
    font-size: 18px;
    color: var(--icon);
}

.link-contain a .link-icon svg {
    fill: #546dfe;
}

.link-contain a .link-text {
    font-size: 15px;
    color: var(--text);
    margin: 0;
    transition: 0.5s;
}

.link-contain a .link-text:hover {
    color: var(--sub);
}

.sub-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub-link-icon {
    font-size: 14px;
    color: var(--icon);
    transition: 0.5s;
}

.drop-icon.active {
    transform: rotate(180deg);
}

.sub-link-container {
    width: 100%;
    padding-top: 22px;
    list-style-type: none;
    font-family: MontRegular;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

.sub-link-container.active {
    max-height: 200px;
}

.sub-link-contian {
    display: flex;
    gap: 10px;
}

.sub-link-contian span {
    font-size: 16px;
    align-items: center;
}

.sub-link-contian a {
    font-size: 14px;
    color: var(--text);
    display: inline-block;
    transition: 0.5s;
}

.sub-link-contian a:hover {
    color: var(--sub);
}

.sub-link-contian a::before {
    content: "-";
    padding-right: 10px;
}

@media screen and (max-width: 1150px) {
    .logo-container img {
        width: 20px;
    }

    .logo-container h2 {
        font-size: 18px;
    }

    .link-container {
        padding-top: 30px;
        gap: 22px;
        padding-right: 20px;
    }

    .link-contain a .link-icon {
        font-size: 15px;
    }

    .link-contain a .link-text {
        font-size: 13px;
    }

    .sub-link-contian a {
        font-size: 12px;
    }


}

@media screen and (max-width: 990px) {
    .sidebar {
        left: -21vw;

    }

    .sidebar.Res-active {
        width: 35vw;
        position: fixed;
        left: 0;
        z-index: 5;
    }

    .blur-background.active {
        display: block;
    }

}

@media screen and (max-width: 550px) {
    .sidebar.Res-active {
        width: 60vw;
        position: fixed;
        left: 0;
        z-index: 5;
    }

    .blur-background.active {
        display: block;
    }



}

/************************************************************************************************************
************************************ Side Bar CSS ***********************************************************
************************************************************************************************************/


/************************************************************************************************************
************************************ Main Content CSS ***********************************************************
************************************************************************************************************/

.main-content {
    position: absolute;
    left: 21vw;
    width: calc(100vw - 21vw);
    background-color: var(--main);
    transition: 0.5s ease;
    overflow-x: hidden;
}

.main-content.active {
    left: 0;
    width: 100vw;
}

/************************************************************************************************************
************************************ Header CSS ***********************************************************
************************************************************************************************************/

.header {
    width: 100%;
    height: 10vh;
    background-color: var(--main);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease;
}

.responsive-menu-bar {
    display: none;
    gap: 20px;
    align-items: center;
}

.responsive-menu-bar img {
    width: 35px;
}

.menu-bar {
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 24px;
    transition: transform 0.3s ease;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #8d9eb5;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.bar:nth-child(2) {
    width: 20px;
}

.menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    position: relative;
    left: 4px;
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: relative;
    left: 4px;
}

.header-second {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.notifications {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    animation: ringBell 2s infinite;
}

@keyframes ringBell {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.notifications:hover {
    background-color: #546efe27;
}

.notifications i {
    color: var(--icon);
}

.notifications .dot {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--purple-sub);
    animation: shadowPulse 4s infinite;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.4);
    }

    70% {
        box-shadow: 0 0 15px 15px rgba(108, 117, 125, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    }
}

.header-profile {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.header-profile .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.header-profile .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.header-profile h3 {
    font-family: MontSemibold;
    font-size: 15px;
    margin: 0;
    color: var(--text);
    opacity: 0.5;
}

.profile-dropdown {
    position: absolute;
    bottom: -160px;
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    border-radius: 5px;
    display: none;
    transition: 0.5s;
}

.profile-dropdown.active {
    display: block;
}

.profile-dropdown .drop-item {
    list-style: none;
    width: 150px;
    padding: 10px 0px;
    padding-left: 20px;
    transition: 0.2s;
    border-bottom: 1px solid #f5f2f2cc;
}

.profile-dropdown .drop-item:hover {
    background-color: #546efe27;
}

.profile-dropdown .drop-item a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--text);
    font-family: MontRegular;
}

.profile-dropdown .drop-item a .profile-icon {
    color: var(--i);
    font-size: 16px;
}

.profile-dropdown .drop-item a .profile-text {
    font-size: 15px;
    transition: 0.5s;
}

.profile-dropdown .drop-item a .profile-text:hover {
    color: var(--text);
}

@media screen and (max-width: 990px) {

    .main-content {
        left: 0;
        width: 100vw;
    }

    .responsive-menu-bar {
        display: flex;
    }

    #menuBar {
        display: none;
    }


}

@media screen and (max-width: 550px) {

    .responsive-menu-bar img {
        width: 30px;
    }

    .bar {
        width: 25px;

    }

    .bar:nth-child(2) {
        width: 18px;
    }
}



/************************************************************************************************************
************************************ Header CSS ***********************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ footer CSS ***********************************************************
************************************************************************************************************/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

}

footer p {
    margin-bottom: 0;
    font-family: MontMedium;
    font-size: 16px;
    color: var(--text);
}

/************************************************************************************************************
************************************ footer CSS ***********************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Content CSS ***********************************************************
************************************************************************************************************/





.content {
    width: 100%;
    min-height: calc(100vh - 10vh);
    background-color: transparent;
    padding: 50px 30px;
    padding-top: 0px;
    overflow-x: hidden;
    margin-bottom: 40px;
}

/************************************************************************************************************
************************************ Sale Overview Page CSS ***********************************************************
************************************************************************************************************/


.title h1 {
    font-family: MontSemibold;
    font-size: 21px;
    margin: 0;
}

.title span {
    font-family: MontRegular;
    font-size: 16px;
    color: #b5e1fa;
}

.dashboard-card-container {
    width: 100%;
    display: flex;
    gap: 18px;
    padding-top: 20px;
}

.dashboard-card {
    width: 23%;
    border-radius: 10px;
    background-color: #fff;
    padding: 27px 20px;
}

.dashboard-card-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.dashboard-card-inner .inner-text span {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
}

.dashboard-card-inner .inner-text h2 {
    font-family: MontSemiBold;
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.dashboard-card-inner .inner-icon {
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(var(--i));
    display: flex;
    box-shadow: 0px 0px 0 8px rgba(var(--i), 0.282);
}

.dashboard-card-inner .inner-icon i {
    color: #fff;
    font-size: 15px;
}

.dashboard-inner-bottom {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.percantage-container {
    margin: 0;
    margin-top: 10px;
}

.percentage-arrow.danger {
    color: red;
}

.percentage-arrow {
    display: inline-block;
    margin-right: 7px;
    color: #0cd7b1;
    font-family: MontRegular;
    font-size: 14px;
}

.percentage-month {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
}

.chart-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.sale-chart {
    width: 62%;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 10px;
}

.sale-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale-chart-body {
    width: 100%;
    height: 400px;
    position: relative;
    top: 0;
}

.sale-chart-body canvas {
    width: 100% !important;
    height: 100% !important;
}

.sale-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.sale-chart-header .drop-down-span {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.dropdown-item {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
    cursor: pointer;
}

.order-chart {
    width: 62%;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 10px;
}

.order-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-chart-body {
    width: 100%;
    height: 400px;
    position: relative;
    top: 0;
}

.order-chart-body canvas {
    width: 100% !important;
    height: 100% !important;
}

.order-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.order-chart-header .drop-down-span {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}



.city-chart {
    width: 34%;
    background-color: #fff;
    border-radius: 10px;
}

.city-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
}

.city-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.city-chart-body {
    width: 100%;
    height: 400px;
}

.city-chart-body canvas {
    width: 100% !important;
    height: 100% !important;
}

.recent-order-chart {
    width: 34%;
    background-color: #fff;
    border-radius: 10px;
}

.recent-order-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
}

.recent-order-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.recent-order-chart-body {
    width: 100%;
    height: 400px;
}

.recent-order-chart-body canvas {
    width: 250px;
    height: 250px;
    margin: auto;
}

.table-container {
    width: 100%;
    padding-top: 30px;
}

.payment-table {
    width: 98%;
    background-color: #fff;
    border-radius: 10px;
}

.payment-table-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-table-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.payment-table-body {
    width: 100%;
}

.payment-table-body table {
    width: 100%;
    overflow-x: scroll;
}

.payment-table-body table thead {
    border-bottom: 1px solid #f5f2f2;
}

.payment-table-body table thead th {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 14px;
    font-weight: 550;
    color: var(--text);
    white-space: nowrap;
}

.payment-table-body table tbody tr {
    border-bottom: 1px solid #f5f2f2;
}

.payment-table-body table tbody td {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 15px;
    color: var(--text);
    cursor: default;
}

.payment-amount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-amount .amount-icon {
    padding: 7px 8px;
    background-color: rgba(84, 110, 255, 0.411);
    border-radius: 5px;
    color: #546dfe;
    font-size: 14px;
}

.payment-amount h5 {
    font-family: MontMedium;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #1a2638;
    margin-bottom: 0;
}

.payment-amount span {
    font-family: MontMedium;
    font-size: 12px;
    color: var(--text);
}

.price-text h5 {
    font-family: MontMedium;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #1a2638;
    margin-bottom: 0;
}

.price-text span {
    font-family: MontMedium;
    font-size: 10px;
    color: var(--text);
}

.payment-table-body .order-status {
    color: var(--i);
    font-family: MontMedium;
    font-size: 15px;
}

.order-table {
    width: 98%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 40px;
}

.order-table-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-table-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.order-table-body {
    width: 100%;
}

.order-table-body table {
    width: 100%;
    overflow-x: scroll;
}

.order-table-body table thead {
    border-bottom: 1px solid #f5f2f2;
}

.order-table-body table thead th {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 14px;
    font-weight: 550;
    color: var(--text);
    white-space: nowrap;
}

.order-table-body table tbody tr {
    border-bottom: 1px solid #f5f2f2;
}

.order-table-body table tbody td {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 15px;
    color: var(--text);
    cursor: default;
}

.order-customer h5 {
    font-family: MontSemiBold;
    white-space: nowrap;
    font-size: 17px;
    color: #1a2638;
    margin-bottom: 0;
}

.order-customer span {
    font-family: MontMedium;
    font-size: 12px;
    color: var(--text);
}

.order-status-badge {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    font-family: MontMedium;
    font-size: 12px;
    background-color: rgba(var(--i), 0.240);
    color: rgb(var(--i));
}


@media screen and (max-width: 1150px) {
    .dashboard-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .dashboard-card {
        width: 47%;
    }

    .chart-container {
        display: flex;
        flex-direction: column;

    }

    .sale-chart {
        width: 98%;
    }

    .city-chart {
        width: 98%;
    }

    .city-chart-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .city-chart-body canvas {
        width: 500px !important;
        height: 100% !important;
    }

    .order-chart {
        width: 98%;
    }

    .recent-order-chart {
        width: 98%;
    }

    .recent-order-chart-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .recent-order-chart-body canvas {
        width: 500px !important;
        height: 300px !important;
    }

}

@media screen and (max-width: 550px) {

    .dashboard-card {
        width: 97%;
    }

    .sale-chart {
        width: 100%;
    }


    .payment-table-body {
        overflow-x: scroll;
    }

    .order-table-body {
        overflow-x: scroll;
    }

}

@media screen and (max-width: 450px) {
    .title h1 {
        font-size: 18px;
    }

    .title span {
        font-size: 14px;
    }

    .dashboard-card-inner .inner-text h2 {
        font-size: 20px;
    }

    .dashboard-card-inner .inner-text span {
        font-size: 13px;
    }

    .sale-chart-header h2,
    .city-chart-header h2 {
        font-size: 18px;
    }

    .payment-table-header h2,
    .order-table-header h2 {
        font-size: 18px;
    }

    .payment-amount h5 {
        font-size: 14px;
    }

    .payment-amount span {
        font-size: 10px;
    }

    .order-customer h5 {

        font-size: 15px;
    }

    .order-customer span {

        font-size: 10px;
    }

    .order-table-body table tbody td {
        font-size: 13px;
        white-space: nowrap;
    }
}


/************************************************************************************************************
************************************ Sale Overview Page CSS *************************************************
************************************************************************************************************/



/************************************************************************************************************
************************************ User Analytics Page CSS ************************************************
************************************************************************************************************/

.dashboard-span {
    color: var(--text) !important;
    font-weight: bold;
}

.dashboard-span a {

    text-decoration: none;
    font-size: 15px;
}

.user-dashboard-card-container {
    width: 100%;
    display: flex;
    gap: 18px;
    padding-top: 40px;
}

.user-dashboard-card {
    width: 23%;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 20px;
}

.user-card-icon {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(var(--i));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0 8px rgba(var(--i), 0.282);
}

.user-card-icon i {
    color: #fff;
    font-size: 15px;
}

.user-dashboard-card-bottom {
    margin-top: 30px;
}

.user-dashboard-card-bottom h4 {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
}

.user-dashboard-card-bottom h2 {
    font-family: MontSemiBold;
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.user-dashboard-card-bottom div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-table-container {

    width: 100%;
    padding-top: 30px;
}

.user-table {
    width: 98%;
    background-color: #fff;
    border-radius: 10px;
}

.user-table-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-table-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.user-table-body {
    width: 100%;
}

.user-table-body table {
    width: 100%;
    overflow-x: scroll;
}

.user-table-body table thead {
    border-bottom: 1px solid #f5f2f2;
}

.user-table-body table thead th {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 14px;
    font-weight: 550;
    color: var(--text);
    white-space: nowrap;
}

.user-table-body table tbody tr {
    border-bottom: 1px solid #f5f2f2;
}

.user-table-body table tbody td {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 14px;
    color: var(--text);
    cursor: default;
}

.thumbnail {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

@media screen and (max-width: 1150px) {
    .user-dashboard-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .user-dashboard-card {
        width: 47%;
    }

    .chart-container {
        display: flex;
        flex-direction: column;

    }

    .sale-chart {
        width: 98%;
    }

    .city-chart {
        width: 98%;
    }

    .city-chart-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .city-chart-body canvas {
        width: 500px !important;
        height: 100% !important;
    }

}

@media screen and (max-width: 550px) {

    .user-dashboard-card {
        width: 97%;
    }

    .sale-chart {
        width: 100%;
    }


    .user-table-body {
        overflow-x: scroll;
    }



}

@media screen and (max-width: 450px) {
    .title h1 {
        font-size: 18px;
    }

    .title span {
        font-size: 14px;
    }



    .user-table-header h2 {
        font-size: 18px;
    }


}






/************************************************************************************************************
************************************ User Analytics Page CSS ************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Product Analytics Page CSS ************************************************
************************************************************************************************************/


.product-dashboard-card-container {
    width: 100%;
    display: flex;
    gap: 18px;
    padding-top: 40px;
}

.product-dashboard-card {
    width: 23%;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 20px;
}

.product-card-icon {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(var(--i));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0 8px rgba(var(--i), 0.282);
}

.product-card-icon i {
    color: #fff;
    font-size: 15px;
}

.product-dashboard-card-bottom {
    margin-top: 30px;
}

.product-dashboard-card-bottom h4 {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
}

.product-dashboard-card-bottom h2 {
    font-family: MontSemiBold;
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.product-dashboard-card-bottom div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-dashboard-second-container {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-top: 30px;
}

.product-table-container {
    width: 55%;
    background-color: #fff;
    border-radius: 10px;
}

.product-table-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-table-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.product-table-body {
    width: 100%;
}

.product-table-body table {
    width: 100%;
    overflow-x: scroll;
}

.product-table-body table thead {
    border-bottom: 1px solid #f5f2f2;
}

.product-table-body table thead th {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 14px;
    font-weight: 550;
    color: var(--text);
    white-space: nowrap;
}

.product-table-body table tbody tr {
    border-bottom: 1px solid #f5f2f2;
}

.product-table-body table tbody td {
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 14px;
    color: var(--text);
    cursor: default;
}


.category-chart {
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
}

.category-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
}

.category-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.category-chart-body {
    width: 100%;
    height: 400px;
}

.category-chart-body canvas {
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 1150px) {
    .product-dashboard-card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .product-dashboard-card {
        width: 47%;
    }



    .product-dashboard-second-container {
        display: flex;
        flex-direction: column;

    }

    .product-table-container {
        width: 98%;
    }

    .category-chart {
        width: 98%;
    }

    .category-chart-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .category-chart-body canvas {
        width: 500px !important;
        height: 100% !important;
    }



}

@media screen and (max-width: 550px) {

    .product-dashboard-card {
        width: 97%;
    }




    .product-table-body {
        overflow-x: scroll;
    }



}

@media screen and (max-width: 450px) {
    .title h1 {
        font-size: 18px;
    }

    .title span {
        font-size: 14px;
    }



    .product-table-header h2 {
        font-size: 18px;
    }


}

/************************************************************************************************************
************************************ Product Analytics Page CSS ************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Profile Page CSS ************************************************
************************************************************************************************************/

.profile-top-container {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
}

.profile-background-image img {
    width: 100%;
}

.profile-about {
    width: 200px;
    position: relative;
}

.profile-img {
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: -30%;

}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-content {
    padding: 30px;
    padding-top: 50px;
}

.profile-content .profile-name {

    font-family: MontSemiBold;
    color: var(--text);
    font-size: 20px;
    text-wrap: nowrap;
    margin: 0;
}

.profile-content .profile-designation {
    font-family: MontMedium;
    font-size: 14px;
    color: #8DAACE;
}

.profile-content .profile-location {
    display: flex;
    gap: 25px;
    margin-top: 5px;
}

.profile-content .profile-location p {
    font-family: MontMedium;
    font-size: 14px;
    color: #8DAACE;
    display: flex;
    align-items: center;
    gap: 5px;
    text-wrap: nowrap;

}

.profile-content .profile-location p i {
    font-size: 12px;

}

.profile-tab {
    display: flex;
    padding-inline: 10px;
}

.profile-tab .profile-tab-child {
    padding-inline: 30px;
    cursor: pointer;
    text-align: center;
}

.profile-tab .profile-tab-child h4 {
    font-family: MontMedium;
    color: var(--text);
    font-size: 17px;
    text-wrap: nowrap;
    margin-bottom: 7px;
    transition: 0.5s ease;
}

.profile-tab .profile-tab-child h4:hover {
    color: var(--sub);
}

.profile-tab .profile-tab-child.active h4 {
    color: var(--sub);
}

.profile-tab .profile-tab-child.active .line {
    width: 90px;
    height: 3px;
    background-color: var(--sub);
    transition: 1s ease-in-out;
}

.profile-tab .profile-tab-child.active:nth-child(2) .line {
    width: 130px;

}

.profile-bottom-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.profile-bottom-left-container {
    width: 70%;
    min-height: fit-content;
    position: relative;
}

.profile-content-tab {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    display: none;


}

.profile-content-tab.active {

    display: block;
}

.profile-bottom-bio {
    width: 100%;
    border-bottom: 1px solid #1a26381f;
    padding: 20px 30px;
}

.profile-bottom-bio .bio-heading {
    display: flex;
    align-items: center;
}

.profile-bottom-bio .bio-heading h3 {
    font-family: MontSemiBold;
    color: #1a2638b7;
    font-size: 20px;
    text-wrap: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.profile-bottom-bio p {
    font-family: MontMedium;
    font-size: 16px;
    color: #8DAACE;
    margin-top: 20px;
}

.profile-bottom-contact {
    width: 100%;
    border-bottom: 1px solid #1a26381f;
    padding: 20px 30px;
    margin-top: 20px;
}

.contact-heading h3 {
    font-family: MontSemiBold;
    color: #1a2638b7;
    text-transform: uppercase;
    font-size: 20px;
    text-wrap: nowrap;
    margin: 0;
}

.contact-body {
    margin-top: 20px;
}

.contact-body-child {
    display: flex;
    gap: 13px;
    align-items: center;
    margin-top: 18px;
}

.contact-body-child i {
    font-size: 13px;
    color: rgb(var(--i));
}

.contact-body-child p {
    margin: 0;
    font-family: MontMedium;
    font-size: 15px;
    color: #8DAACE;
}

.contact-body-child p span {

    color: #1a263894;
    font-size: 16px;
    font-family: MontSemiBold;

}

.profile-bottom-social {
    width: 100%;
    padding: 20px 30px;
    margin-top: 20px;
}

.social-heading h3 {
    font-family: MontSemiBold;
    color: #1a2638b7;
    font-size: 20px;
    text-wrap: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.social-body {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.social-body-child {
    width: 230px;
    align-items: center;
    display: flex;
    gap: 16px;
}

.social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--i), 0.25);
    border-radius: 7px;
}

.social-icon i {
    font-size: 23px;
    color: rgb(var(--i));
}

.social-text h3 {
    color: #1a263894;
    font-size: 16px;
    font-family: MontSemiBold;
    margin: 0;
}

.social-text span {
    font-family: MontMedium;
    font-size: 15px;
    color: #8DAACE;
}

.profile-bottom-right-container {
    width: 25%;
    background-color: #fff;
    border-radius: 7px;
    max-height: fit-content;
}

.profile-bottom-right-heading {
    padding: 30px;
}

.profile-bottom-right-heading h3 {
    font-family: MontSemiBold;
    color: #1a2638b7;
    font-size: 20px;
    text-wrap: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.profile-bottom-body-child {
    padding: 20px;
    border-block: 1px solid #4d678f1e;
    display: flex;
    gap: 15px;

}

.profile-bottom-body-child p {
    font-family: MontMedium;
    font-size: 13px;
    color: #8DAACE;
    margin: 0;


}

.profile-bottom-body-child p span {
    color: #1a263894;
    font-size: 16px;
    font-family: MontSemiBold;
}

.Edit-Profile-tab {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.edit-personal-info {
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid #e2e6f1;

}

.edit-contact-info,
.edit-social-info,
.edit-about-info {
    width: 100%;
    padding: 20px 30px;
    margin-top: 20px;
    border-bottom: 1px solid #e2e6f1;
}

.profile-info-heading h3 {
    font-family: MontSemiBold;
    color: #1a2638b7;
    font-size: 20px;
    text-wrap: nowrap;
    text-transform: uppercase;
    margin: 0;
}

.profile-info-body-child,
.profile-img-child {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 120px;
}

.profile-img-child {
    gap: 40px;
}

.profile-img-child img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.btn-group button {
    font-family: MontMedium;
    color: #1a2638b7;
    background-color: #E4ECF2;
    font-size: 16px;
}

.btn-group .change-btn {
    background-color: #546dfe;
    color: #fff;

}

.btn-group .remove-btn:active {
    background-color: #E4ECF2;
    border-color: #E4ECF2;
    outline: none;
    color: #1a2638b7;


}

.btn-group .change-btn:active {
    background-color: #546dfe;
    color: #fff;
}



#genderChild {
    gap: 110px;
}

#bioChild {
    gap: 80px;
}

.edit-profile-head {
    min-width: 100px;
}

.profile-info-body-child h3 {
    font-family: MontMedium;
    color: #1a2638b7;
    font-size: 16px;
    text-wrap: nowrap;
    margin: 0;
}

.profile-info-body-child .edit-profile-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info-body-child .edit-profile-input input {

    width: 490px;
    font-family: MontMedium;
    font-size: 13px;
    color: #1a2638;
    padding: 9px 10px;
    border-radius: 5px;
    border: 1px solid #e2e6f1;
    transition: all 0.5s ease-in-out;
}

.profile-info-body-child .edit-profile-input input:focus {
    border-color: rgb(84, 109, 254);
    box-shadow: 0 0 10px rgba(84, 109, 254, 0.5);
    outline: none;
}

.profile-info-body-child .edit-profile-input textarea {

    resize: none;
    width: 490px;
    font-family: MontMedium;
    font-size: 13px;
    color: #1a2638;
    padding: 9px 10px;
    border-radius: 5px;
    border: 1px solid #e2e6f1;
    transition: all 0.5s ease-in-out;
}

.profile-info-body-child .edit-profile-input textarea:focus {
    border-color: rgb(84, 109, 254);
    box-shadow: 0 0 10px rgba(84, 109, 254, 0.5);
    outline: none;
}

.profile-info-body-child .edit-profile-input span {
    color: red;
    font-size: 13px;
    font-family: MontSemiBold;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submit-button button {
    font-family: MontMedium;
    color: #E4ECF2;
    background-color: #546dfe;
    font-size: 16px;
}

.submit-button button:active {
    background-color: #546dfe;
    outline: none;
    color: #fff;
}

.submit-button .save-btn:hover {
    color: #E4ECF2;
    background-color: #546dfe;

}

@media screen and (max-width:1280px) {

    .profile-info-body-child .edit-profile-input input,
    .profile-info-body-child .edit-profile-input textarea {
        width: 390px;
    }
}

@media screen and (max-width: 1150px) {

    .profile-bottom-container {
        flex-direction: column;
    }

    .profile-bottom-left-container,
    .profile-bottom-right-container {
        width: 98%;
    }

    .profile-info-body-child {
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    #genderChild,
    #bioChild {
        gap: 40px;
    }

    .profile-info-body-child .edit-profile-input {
        width: 98%;
    }

    .profile-info-body-child .edit-profile-input input,
    .profile-info-body-child .edit-profile-input textarea {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {

    .profile-bottom-bio p {
        font-size: 12px;
    }

    .contact-body-child p {
        font-size: 12px;
    }

    .contact-body-child p span {
        font-size: 14px;
    }

    .contact-body-child i {
        font-size: 12px;
    }

    .social-body-child {
        width: 195px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    .profile-info-body-child {
        gap: 30px;
    }

    #genderChild,
    #bioChild {
        gap: 30px;
    }

    .profile-info-body-child h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {

    .profile-img {
        width: 70px;
        height: 70px;
        left: 10%;
        top: -15%;
    }


    .profile-content .profile-name {
        font-size: 17px;
    }

    .profile-content .profile-designation {
        font-size: 12px;
    }

    .profile-content .profile-location {
        gap: 18px;
    }

    .profile-content .profile-location p {
        font-size: 12px;
    }

    .profile-content .profile-location p i {
        font-size: 10px;
    }

    .profile-tab .profile-tab-child {
        padding-inline: 10px;
    }

    .profile-tab .profile-tab-child h4 {
        font-size: 13px;
    }

    .profile-img-child {
        flex-direction: column;
    }

    .profile-bottom-bio .bio-heading h3,
    .contact-heading h3,
    .social-heading h3,
    .profile-bottom-right-heading h3,
    .profile-info-heading h3 {
        font-size: 16px;
    }

    .profile-bottom-bio p {
        font-size: 10px;
    }

    .contact-body,
    .social-body {
        margin-top: 40px;
    }

    .contact-body-child p {
        font-size: 10px;
    }

    .contact-body-child p span {
        font-size: 12px;
    }

    .contact-body-child i {
        font-size: 10px;
    }

    .profile-bottom-body-child p {
        font-size: 11px;
    }

    .profile-bottom-body-child p span {
        font-size: 14px;
    }

    .profile-info-body-child .edit-profile-input {
        width: 100%;
    }


}

/************************************************************************************************************
************************************ Profile Page CSS ************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Setting Page CSS ************************************************
************************************************************************************************************/

.setting-main-container {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.setting-left-container {
    width: 30%;
    max-height: 210px;
    padding: 20px;
    border-radius: 7px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
}

.setting-tab {
    width: 100%;
    border-radius: 7px;
    padding: 12px 15px;
    cursor: pointer;

}

.setting-tab h3 {
    font-family: MontSemiBold;
    color: var(--text);
    font-size: 16px;
    margin: 0;
    transition: all 0.5s ease-in;
}

.setting-tab:hover h3 {
    color: #546dfe;
}

.setting-tab.active {
    background-color: #546efe27;
}

.setting-tab.active h3 {
    color: #546dfe;
}

.setting-right-container {
    width: 66%;
    min-height: 120px;
    border-radius: 7px;
    background-color: #fff;
    padding: 20px 0px;
}

.setting-right-top {
    padding: 0px 20px;
}

.setting-right-tab {
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    border: 1px solid #e2e6f1;
    display: none;
}

.setting-right-tab.active {
    display: block;
}

.setting-right-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.setting-right-content-head h3 {
    font-family: MontSemiBold;
    color: var(--text);
    font-size: 16px;
    margin: 0;
}

.setting-right-content-head p {
    font-family: MontMedium;
    font-size: 13px;
    color: #8DAACE;
    margin: 0px;
    margin-top: 5px;
}

.setting-right-content-head p b {
    color: #0cd7b1;

}

.setting-right-content-checkbox {
    width: 80px;
    border-radius: 5px;
    height: 35px;
    background-color: rgba(245, 247, 250, 1);
    position: relative;
    padding: 7px;
}

.setting-right-content-checkbox.active {
    background-color: rgba(84, 110, 254, 0.336);

}

.setting-right-content-checkbox input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    display: block;
    cursor: pointer;
}

.setting-right-content-checkbox div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    border-radius: 7px;
    box-sizing: border-box;
    overflow: hidden;
}

.setting-right-content-checkbox div .setting-checkbox-slide {
    width: 32px;
    height: 28px;
    border-radius: 7px;
    background-color: #fff;
    position: absolute;
    top: 8%;
    left: 5px;
    transition: all 0.5s;
}

.setting-right-content-checkbox input:checked+div .setting-checkbox-slide {
    transform: translateX(40px);
    background-color: #546dfe;

}

.setting-right-content-checkbox div .setting-checkbox-slide::before {

    content: 'ON';
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -45px;
    line-height: 35px;
    text-align: center;
    font-family: MontMedium;
    font-size: 13px;
    color: #546dfe;

}

.setting-right-content-checkbox div .setting-checkbox-slide::after {

    content: 'OFF';
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -45px;
    line-height: 35px;
    text-align: center;
    font-family: MontMedium;
    font-size: 13px;
    color: #8DAACE;

}

.setting-right-input {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.setting-right-content-input {
    width: 100%;
}

.setting-right-content-input input {
    width: 98%;
    font-family: MontMedium;
    font-size: 13px;
    color: #1a2638;
    padding: 9px 10px;
    border-radius: 5px;
    border: 1px solid #e2e6f1;
    transition: all 0.5s ease-in-out;
}

.setting-right-content-input input:focus {
    border-color: rgb(84, 109, 254);
    box-shadow: 0 0 10px rgba(84, 109, 254, 0.5);
    outline: none;
}

.setting-right-content-input span {
    color: red;
    font-size: 13px;
    font-family: MontSemiBold;
}

.setting-right-bottom {
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #e2e6f1;

}


.setting-right-bottom button {
    font-family: MontMedium;
    color: #1a2638b7;
    background-color: #E4ECF2;
    font-size: 16px;
}

.setting-right-bottom .restore {
    color: #1a2638b7;
    background-color: #E4ECF2;
    outline: none;

}

.setting-right-bottom .restore:active {
    color: #1a2638b7;
    background-color: #E4ECF2;
    outline: none;
    border-color: #E4ECF2;

}

.setting-right-bottom .restore:hover {
    color: #1a2638b7;
    outline: none;
    background-color: #E4ECF2;

}

.setting-right-bottom .save {

    background-color: #546dfe;
    outline: none;
    color: #fff;
}

.setting-right-bottom .save:active {
    background-color: #546dfe;
    outline: none;
    color: #fff;
}

.setting-right-bottom .save:hover {
    color: #E4ECF2;
    background-color: #546dfe;

}

.security-main-content {
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 20px;
}

.security-sub-content {
    width: 200px;
}

.security-sub-content h3 {
    font-family: MontSemiBold;
    color: var(--text);
    font-size: 18px;
    margin: 0;
}

.security-sub-content p {
    font-family: MontMedium;
    font-size: 12px;
    color: #8DAACE;
    margin: 0px;
    margin-top: 5px;
}

.security-sub-second-content {
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 70px;
}

.security-sub-second-content-child {
    width: 100%;
    display: flex;
    gap: 20px;
}

.security-sub-second-content-text {
    width: 70%;

}

.security-sub-second-content-text h4 {
    font-family: MontSemiBold;
    color: var(--text);
    font-size: 16px;
    margin: 0;
}

.security-sub-second-content-text p {
    font-family: MontMedium;
    font-size: 12px;
    color: #8DAACE;
    margin: 0px;
    margin-top: 10px;
}

.security-sub-second-content-select select {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #E4ECF2;
    outline-color: #E4ECF2;
    font-family: MontMedium;
    font-size: 14px;
    color: #8DAACE;
}

.security-sub-second-content-select select option {
    padding: 100px;
    display: block;
    outline: 1px solid #E4ECF2;

}


@media screen and (max-width:1280px) {

    .security-sub-second-content-text h4 {
        font-size: 14px;
    }

    .security-sub-second-content-text p {
        font-size: 10px;
    }
}

@media screen and (max-width: 1150px) {

    .setting-main-container {
        flex-direction: column;
    }

    .setting-left-container,
    .setting-right-container {
        width: 98%;
    }

    .security-main-content {
        flex-direction: column;
    }

    .security-sub-content,
    .security-sub-second-content {
        width: 98%;
    }
}

@media screen and (max-width: 850px) {

    .setting-right-content-head p {
        font-size: 10px;
    }
}

@media screen and (max-width:650px) {
    .setting-right-content {
        flex-direction: column;
        gap: 20px;
    }

    .setting-right-content-head h3,
    .security-sub-content h3,
    .security-sub-second-content-text h4 {
        font-size: 13px;
    }

    .security-sub-second-content-child {
        flex-direction: column;
    }

    .security-sub-second-content-text {
        width: 98%;
    }

    .security-sub-second-content-select select {
        width: 98%;
    }
}

@media screen and (max-width: 450px) {

    .setting-right-bottom button {
        font-size: 13px;
    }

    .security-sub-second-content-text p,
    .security-sub-content p {
        font-size: 10px;
    }

}

@media screen and (max-width: 350px) {

    .setting-right-bottom button {
        font-size: 10px;
    }


}

/************************************************************************************************************
************************************ Setting Page CSS ************************************************
************************************************************************************************************/


/************************************************************************************************************
************************************ Mail Page CSS ************************************************
************************************************************************************************************/

.mail-main-container {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;

}

.mail-left-container {
    width: 33%;
    min-height: 100px;
    border-radius: 7px;
    background-color: #fff;
}

.mail-left-first-child {
    padding: 20px;
    background-color: #f5f7fa;
    display: flex;
    gap: 30px;
    align-items: center;
}

.mail-left-first-child img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.mail-left-first-child div h4 {
    font-family: MontSemiBold;
    color: var(--text);
    font-size: 16px;
    margin: 0;
}

.mail-left-first-child div span {
    font-family: MontMedium;
    font-size: 13px;
    color: #8DAACE;
    margin: 0px;
}

.mail-left-second-child {
    padding: 20px;

}

.mail-left-second-child h3 {
    font-family: MontMedium;
    font-size: 16px;
    color: var(--text);
    margin: 0px;
}

.mail-left-second-child-list{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mail-left-second-child-item{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.mail-left-second-child-item p{
    font-family: MontSemiBold;
    color: #8DAACE;
    font-size: 14px;
    margin: 0;
    transition: all 0.5s ease;
}
.mail-left-second-child-item p span{
    margin-left: 7px;
}

.mail-left-second-child-item:hover p{
    color: #546dfe;

}

.mail-left-second-child-item.active p{
    color: #546dfe;

}

.mail-left-second-child-item .mail-badge{

    display: inline-block;
    padding: 3px 7px;
    border-radius: 10px;
    color: #fff;
    font-family: MontSemiBold;
    font-size: 10px;
    background-color: rgb(var(--i));

}

.mail-right-container {
    width: 66%;
    min-height: 100px;
    border-radius: 7px;
    background-color: #fff;
}

/************************************************************************************************************
************************************ Mail Page CSS ************************************************
************************************************************************************************************/

/************************************************************************************************************
****************************.******** Content CSS ***********************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Main Content CSS ***********************************************************
************************************************************************************************************/