/************************************************************************************************************
************************************ Font Family Links ******************************************************
************************************************************************************************************/

@font-face {
    font-family: Blackish;
    src: url(../fonts/Montserrat-Black.woff);
}

@font-face {
    font-family: BlackItalic;
    src: url(../fonts/Montserrat-BlackItalic.woff);
}

@font-face {
    font-family: Boldish;
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family: BoldItalic;
    src: url(../fonts/Montserrat-BoldItalic.woff);
}

@font-face {
    font-family: ExtraBold;
    src: url(../fonts/Montserrat-ExtraBold.woff);
}

@font-face {
    font-family: ExtraBoldItalic;
    src: url(../fonts/Montserrat-ExtraBoldItalic.woff);
}

@font-face {
    font-family: MontMedium;
    src: url(../fonts/Montserrat-Medium.woff);
}

@font-face {
    font-family: MontMediumItalic;
    src: url(../fonts/Montserrat-MediumItalic.woff);
}

@font-face {
    font-family: MontRegular;
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: MontSemiBold;
    src: url(../fonts/Montserrat-SemiBold.woff);
}

@font-face {
    font-family: MontSemiBoldItalic;
    src: url(/Asset/Admin/fonts/Montserrat-SemiBoldItalic.woff);
}

@font-face {
    font-family: MontThin;
    src: url(../fonts/Montserrat-Thin.woff);
}

@font-face {
    font-family: MontThinItalic;
    src: url(../fonts/Montserrat-ThinItalic.woff);
}

/************************************************************************************************************
************************************ Font Family Links ******************************************************
************************************************************************************************************/

:root {
    --main: #f8f8fa;
    --sub: #546dfe;
    --icon: #a3b1fe;
    --text: #1a2638;
    --purple-sub: #d67cf75d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main {
    position: relative;
}

/************************************************************************************************************
************************************ Side Bar CSS ***********************************************************
************************************************************************************************************/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 21vw;
    height: 100vh;
    z-index: 2;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s ease;
}
.sidebar.active {
    left: -21vw;
}
.sidebar:hover {
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}

.logo-container {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border-bottom: 1px solid #f5f2f2cc;
    cursor: pointer;
}

.logo-container img {
    width: 26px;
}
.logo-container h2 {
    font-family: MontSemiBold;
    font-size: 23px;
    text-align: center;
    margin: 0;
    font-weight: 500;
    color: #1a2638;
}

.link-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 20px;
}

.link-title {
    font-family: MontRegular;
    color: var(--text);
    font-size: 12px;
    text-transform: uppercase;
}
.link-contain {
    width: 100%;

    list-style: none;
}

.link-contain a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    font-family: MontRegular;
}
.link-contain a .link-icon {
    font-size: 18px;
    color: var(--icon);
}
.link-contain a .link-icon svg {
    fill: #546dfe;
}
.link-contain a .link-text {
    font-size: 15px;
    color: var(--text);
    margin: 0;
    transition: 0.5s;
}
.link-contain a .link-text:hover {
    color: var(--sub);
}
.sub-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sub-link-icon {
    font-size: 14px;
    color: var(--icon);
    transition: 0.5s;
}
.drop-icon.active {
    transform: rotate(180deg);
}
.sub-link-container {
    width: 100%;
    padding-top: 22px;
    list-style-type: none;
    font-family: MontRegular;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

.sub-link-container.active {
    max-height: 200px;
}

.sub-link-contian {
    display: flex;
    gap: 10px;
}
.sub-link-contian span {
    font-size: 16px;
    align-items: center;
}
.sub-link-contian a {
    font-size: 14px;
    color: var(--text);
    display: inline-block;
    transition: 0.5s;
}
.sub-link-contian a:hover {
    color: var(--sub);
}
.sub-link-contian a::before {
    content: "-";
    padding-right: 10px;
}

@media screen and (max-width: 1100px) {
    .logo-container img {
        width: 20px;
    }
    .logo-container h2 {
        font-size: 18px;
    }

    .link-container {
        padding-top: 30px;
        gap: 22px;
        padding-right: 20px;
    }

    .link-contain a .link-icon {
        font-size: 15px;
    }
    .link-contain a .link-text {
        font-size: 13px;
    }

    .sub-link-contian a {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .sidebar {
        left: -21vw;
    }
}
/************************************************************************************************************
************************************ Side Bar CSS ***********************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Main Content CSS ***********************************************************
************************************************************************************************************/

.main-content {
    position: absolute;
    left: 21vw;
    width: calc(100vw - 21vw);
    background-color: var(--main);
    transition: 0.5s ease;
    overflow-x: hidden;
}
.main-content.active {
    left: 0;
    width: 100vw;
}
/************************************************************************************************************
************************************ Header CSS ***********************************************************
************************************************************************************************************/

.header {
    width: 100%;
    height: 10vh;
    background-color: var(--main);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease;
}
.responsive-menu-bar {
    display: none;
    gap: 20px;
    align-items: center;
}
.responsive-menu-bar img {
    width: 35px;
}

.menu-bar {
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 24px;
    transition: transform 0.3s ease;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #8d9eb5;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.bar:nth-child(2) {
    width: 20px;
}

.menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    position: relative;
    left: 4px;
}

.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: relative;
    left: 4px;
}
.header-second {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.notifications {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    animation: ringBell 2s infinite;
}
@keyframes ringBell {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(2deg);
    }
    60% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.notifications:hover {
    background-color: #546efe27;
}
.notifications i {
    color: var(--icon);
}
.notifications .dot {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--purple-sub);
    animation: shadowPulse 4s infinite;
}
@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.4);
    }
    70% {
        box-shadow: 0 0 15px 15px rgba(108, 117, 125, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
    }
}
.header-profile {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.header-profile .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.header-profile .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.header-profile h3 {
    font-family: MontSemibold;
    font-size: 15px;
    margin: 0;
    color: var(--text);
    opacity: 0.5;
}
.profile-dropdown {
    position: absolute;
    bottom: -160px;
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    border-radius: 5px;
    display: none;
    transition: 0.5s;
}
.profile-dropdown.active {
    display: block;
}
.profile-dropdown .drop-item {
    list-style: none;
    width: 150px;
    padding: 10px 0px;
    padding-left: 20px;
    transition: 0.2s;
    border-bottom: 1px solid #f5f2f2cc;
}
.profile-dropdown .drop-item:hover {
    background-color: #546efe27;
}
.profile-dropdown .drop-item a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--text);
    font-family: MontRegular;
}
.profile-dropdown .drop-item a .profile-icon {
    color: var(--i);
    font-size: 16px;
}
.profile-dropdown .drop-item a .profile-text {
    font-size: 15px;
    transition: 0.5s;
}
.profile-dropdown .drop-item a .profile-text:hover {
    color: var(--text);
}

@media screen and (max-width: 850px) {
    .main-content {
        left: 0;
        width: 100vw;
    }

    .responsive-menu-bar {
        display: flex;
    }
    #menuBar {
        display: none;
    }
}

/************************************************************************************************************
************************************ Header CSS ***********************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Content CSS ***********************************************************
************************************************************************************************************/

.content {
    width: 100%;
    background-color: transparent;
    padding: 50px 20px;
    overflow-x: hidden;
}
.title h1 {
    font-family: MontSemibold;
    font-size: 21px;
    margin: 0;
}
.title span {
    font-family: MontRegular;
    font-size: 16px;
    color: #b5e1fa;
}

.dashboard-card-container {
    width: 100%;
    display: flex;
    gap: 18px;
    padding-top: 20px;
}
.dashboard-card {
    width: 23%;
    border-radius: 10px;
    background-color: #fff;
    padding: 27px 20px;
}
.dashboard-card-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.dashboard-card-inner .inner-text span {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
}
.dashboard-card-inner .inner-text h2 {
    font-family: MontSemiBold;
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}

.dashboard-card-inner .inner-icon {
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(var(--i));
    display: flex;
    box-shadow: 0px 0px 0 8px rgba(var(--i), 0.282);
}
.dashboard-card-inner .inner-icon i {
    color: #fff;
    font-size: 15px;
}

.dashboard-inner-bottom {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.percantage-container {
    margin: 0;
    margin-top: 10px;
}
.percentage-arrow.danger {
    color: red;
}
.percentage-arrow {
    display: inline-block;
    margin-right: 7px;
    color: #0cd7b1;
    font-family: MontRegular;
    font-size: 14px;
}
.percentage-month {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
}

.chart-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    gap: 20px;
  
}
.sale-chart {
    width: 64%;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 10px;
}
.sale-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sale-chart-body{
    width: 100%;
    height: 400px;
    position: relative;
    top: 0;
}
.sale-chart-body canvas{
    width: 100% !important;
    height: 100% !important;
}
.sale-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}
.sale-chart-header .drop-down-span {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.dropdown-item {
    font-family: MontRegular;
    font-size: 15px;
    color: var(--text);

    cursor: pointer;
}

.city-chart {
    width: 36%;
    background-color: #fff;
    border-radius: 10px;
}
.city-chart-header {
    padding: 20px;
    border-bottom: 1px solid #f5f2f2cc;
}
.city-chart-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}
.city-chart-body{
    width: 100%;
}
.city-chart-body canvas{
    width: 100% !important;
    height: 100% !important;
}

.table-container{
    width: 100%;
    padding-top: 30px;
    display: flex;
    gap: 20px;
}
.payment-table{
    width: 55%;
    background-color: #fff;
    border-radius: 10px;
}
.payment-table-header{
    padding: 20px;
    border-bottom: 1px solid #f5f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-table-header h2 {
    font-family: MontMedium;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text);
}
.payment-table-body{
    width: 100%;
}
.payment-table-body table{
    width: 100%;
    overflow-x: scroll;
   
}
.payment-table-body table thead{
    border-bottom: 1px solid #f5f2f2;

}
.payment-table-body table thead th{
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 16px;
    font-weight: 550;
    color: var(--text);
}
.payment-table-body table tbody td{
    padding: 15px 20px;
    font-family: MontMedium;
    font-size: 15px;
    color: var(--text);
}
 .payment-amount{
    display: flex;
    align-items: center;
    gap: 10px;
}
.payment-amount .amount-icon{
    padding: 7px 10px;
    background-color: rgba(84, 110, 255, 0.411);
    border-radius: 5px;
    color: #546dfe;
    font-size: 14px;
}
.payment-amount h5{
    font-family: MontMedium;
    font-size: 14px;
    font-weight: 500;
    color: #1a2638;
    margin-bottom: 0;
}
.payment-amount span{
    font-family: MontMedium;
    font-size: 12px;
    color: var(--text);
}
.price-text h5{
    font-family: MontMedium;
    font-size: 14px;
    font-weight: 500;
    color:#1a2638;
    margin-bottom: 0;
}
.price-text span{
    font-family: MontMedium;
    font-size: 10px;
    color: var(--text);
}
.payment-table-body .order-status{
    color: var(--i);
    font-family: MontMedium;
    font-size: 15px;
    
}
/************************************************************************************************************
****************************.******** Content CSS ***********************************************************
************************************************************************************************************/

/************************************************************************************************************
************************************ Main Content CSS ***********************************************************
************************************************************************************************************/
